<ion-header>
  <ion-toolbar>
    <ion-title>dentalHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
       <ion-item>
          <ion-label>Extraction</ion-label>
          <ion-radio slot="end" value="extraction" checked></ion-radio>
        </ion-item>
    
        <ion-item>
            <ion-label>Other major/minor oral surgery</ion-label>
            <ion-radio slot="end" value="oralsurgery" checked></ion-radio>

        </ion-item>

        <ion-list>
            <ion-label>Periodontal Rx</ion-label>
            <ion-item>
              <ion-label>Scaling</ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Root Debriment</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
              <ion-item>
                  <ion-label>Surgical Perio Rx</ion-label>
                  <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
              <ion-item>
                    <ion-label>Maintenance Care</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
          </ion-list>
          <ion-item>
              <ion-label>Orthodontic Treatment</ion-label>
              <ion-radio slot="end" value="orthodontic" checked></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label>Restorative Rx</ion-label>
              <ion-radio slot="end" value="restorative" checked></ion-radio>
          </ion-item>


</ion-content>
