<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="4" size-lg="4">
          <form>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="Password"></ion-input>
            </ion-item>
                <ion-button expand="block">Login</ion-button>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
