<ion-header>
    <ion-toolbar>
      <ion-title>Allergies</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
  
  <ion-slides pager="true">
    <ion-slide>
      
     <ion-row>
       <ion-col size="12">
         <h1>Allergies</h1>
          <ion-item>
              <ion-label>Anaemia</ion-label>
              <ion-radio slot="end" value="anaemia"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Asthma</ion-label>
                <ion-radio slot="end" value="asthma"></ion-radio>
          </ion-item>
       </ion-col>
       <ion-col size="12">
          
      
      <ion-list>
          <ion-label>Drug</ion-label>
          <ion-item>
            <ion-label>Penicillin/Amoxcillin</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Paracetamol</ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>NSAIDS</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
        </ion-list>
        
        <ion-list>
          <ion-label>Food</ion-label>
          <ion-item>
            <ion-label>Pineapple</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>Tomatoe</ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Canned Fish</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
        </ion-list>
        
        <ion-item>
          <ion-label>Latex/Rubber</ion-label>
          <ion-radio slot="end" value="latex"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-input type="text" placeholder="Other"></ion-input>
        </ion-item>
       </ion-col>
     </ion-row>
      
      
       
      
  
      
      
    </ion-slide>
  
    <ion-slide>
      

      <ion-row>
          <ion-col size="12">
              <h1>Allergies(G-N)</h1>
              <ion-list>
                  <ion-label>Gastro-intestinal</ion-label>
                  <ion-item>
                    <ion-label>Ulcers</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                      <ion-label>Gastric reflux</ion-label>
                      <ion-checkbox slot="end"></ion-checkbox>
                    </ion-item>
              </ion-list>
            
          </ion-col>
          <ion-col size="12">
             
         
              <ion-list>
                  <ion-label>Hepatits</ion-label>
                  <ion-item>
                    <ion-label>Hep A</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                      <ion-label>Hep B</ion-label>
                      <ion-checkbox slot="end"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Hep C</ion-label>
                        <ion-checkbox slot="end"></ion-checkbox>
                    </ion-item>
                </ion-list>
                       
                <ion-list>
                    <ion-label>Musculo-skeletal</ion-label>
                    <ion-item>
                      <ion-label>Arthritis</ion-label>
                      <ion-checkbox slot="end"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Joint Replacement</ion-label>
                        <ion-checkbox slot="end"></ion-checkbox>
                      </ion-item>
                  </ion-list>
                  <ion-list>
                      <ion-label>Neurological Disorders</ion-label>
                      <ion-item>
                        <ion-label>Migraine</ion-label>
                        <ion-checkbox slot="end"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Neuralgic Pain</ion-label>
                          <ion-checkbox slot="end"></ion-checkbox>
                        </ion-item>
                    </ion-list>
          </ion-col>
        </ion-row>
        
    </ion-slide>
  
  </ion-slides>
          
    </ion-grid>
  </ion-content>